.active-menu-item {
  text-decoration: underline !important;
}

header {
  @media (max-width: 870px) {
    margin-bottom: 30px;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    @media (max-width: 870px) {
      flex-direction: column;
      align-items: center;
    }

    &__img {
      line-height: 0;

      @media (max-width: 870px) {
        margin-bottom: 25px;
      }

      img {
        width: 200px;
      }
    }

    &__nav {
      border-radius: 13px;
      overflow: hidden;

      ul {
        display: flex;
        font-family: 'Fredoka One', cursive;
        font-size: 1.5rem;
        color: #565656;

        @media (max-width: 640px) {
          font-size: 1.2rem;
        }

        li {
          display: flex;
          transition: background .3s;

          &:hover {
            color: white;
            background: #00ACAE;
          }

          &:active {
            background: #009092;
          }

          &:not(:last-child) {
            border-right: 1px solid rgba(0, 0, 0, 0.3);
          }

          a {
            padding: 20px;
            text-decoration: none;
            color: inherit;
            background: transparent;
            transition: .3s;

            @media (max-width: 640px) {
              padding: 10px;
            }
          }

          button {
            padding: 20px;
            border: none;
            background: transparent;
            font-family:inherit;
            font-size: inherit;
            color: inherit;
            outline: none;
            cursor: pointer;

            @media (max-width: 640px) {
              padding: 10px;
            }
          }
        }
      }
    }
  }
}

