@import 'assets/stylesheets/common/reset';
@import '../node_modules/antd/dist/antd.css';
@import 'assets/stylesheets/start-button';

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  background: #f4f4f5;
  font-family: 'Roboto', sans-serif;
}

body, html {
  height: 100%;
}

main {
  margin: 10px 0 40px;
}

.container-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 40px;
}

.main-title {
  font-size: 3rem;
  font-family: 'Prata', serif;
  color: #565656;
  text-align: center;
  margin-bottom: 25px;
  line-height: 130%;

  @media (max-width: 640px) {
    font-size: 2.5rem;
  }
}

.red-letter {
  color: red;
}

.ocean-letter {
  color: #00ACAE;
}
