@import 'assets/stylesheets/common/reset';
@import '../node_modules/antd/dist/antd.css';
@import 'assets/stylesheets/start-button';

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  background: url('./assets/img/background.svg') #f4f4f5;
  font-family: 'Roboto', sans-serif;
}

body, html {
  height: 100%;
}

main {
  margin: 10px 0 40px;
}

.container-inner {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 40px;
}

.main-title {
  font-size: 2.7rem;
  font-family: 'Prata', serif;
  color: #565656;
  text-align: center;
  margin-bottom: 25px;
  line-height: 130%;

  @media (max-width: 640px) {
    font-size: 2.5rem;
  }
}

.red-letter {
  color: red;
}

.ocean-letter {
  color: #00ACAE;
}

kbd {
  display: inline-block;
  min-width: 1em;
  padding: .2em .5em;
  font: normal 1.5em/1 "Lucida Grande", Lucida, Arial, sans-serif;
  text-align: center;
  background: #565656;
  color: white;
  text-decoration: none;
  -moz-border-radius: .3em;
  -webkit-border-radius: .3em;
  border-radius: .3em;
  border: none;
  cursor: default;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  box-shadow: 2px 2px 0 rgb(33, 33, 33);
}
