@import 'assets/stylesheets/common/reset';

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background: #f4f4f5;
  font-family: 'Roboto', sans-serif;
}

main {
  margin: 10px 0 50px;
}

.container-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 40px;
}

.main-title {
  font-size: 3rem;
  font-family: 'Prata', serif;
  color: #565656;
  text-align: center;
  margin-bottom: 25px;
}

.red-letter {
  color: red;
}
