//color variables
$white: #ececec;
$grey: #565656;
$red1: #00ACAE;
$red2: #c92918;
$colorPrimary: $red1;
$colorSecondary: $red2;
$cubic-bezier: cubic-bezier(0.68, -0.55, 0.265, 1.55);

//split button mixin
@mixin btn__split($foregroundColor, $backgroundColor, $textColor) {
  button.start-button {
    font-family: 'Fredoka One', cursive;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    border: 0;
    position: relative;
    letter-spacing: 0.15em;
    margin: 0 auto;
    padding: 1rem 2.5rem;
    background: transparent;
    outline: none;
    font-size: 40px;
    color: $textColor;
    cursor: pointer;
    transition: all 0.5s $cubic-bezier 0.15s;
    &::after,
    &::before {
      border: 0;
      content: "";
      position: absolute;
      height: 50%;
      width: 10%;
      transition: all 0.5s $cubic-bezier;
      z-index: -2;
      border-radius: 50%;
    }
    &::before {
      border: 0;
      background-color: $backgroundColor;
      top: -0.75rem;
      left: 0.5rem;
      animation: topAnimation 2s $cubic-bezier 0.25s infinite alternate;
    }
    &::after {
      background-color: $foregroundColor;
      top: 3rem;
      left: 13rem;
      animation: bottomAnimation 2s $cubic-bezier 0.5s infinite alternate;
    }
    &:hover {
      color: white;
      &::before,
      &::after {
        top: 0;
        height: 100%;
        width: 100%;
        border-radius: 0;
        animation: none;
      }
      &::after {
        left: 0;
      }
      &::before {
        top: 0.5rem;
        left: 0.35rem;
      }
    }
  }
}

@keyframes topAnimation {
  from {
    transform: translate(0rem, 0);
  }
  to {
    transform: translate(0rem, 3.5rem);
  }
}
@keyframes bottomAnimation {
  from {
    transform: translate(-11.5rem, 0);
  }
  to {
    transform: translate(0rem, 0);
  }
}

@include btn__split($colorPrimary, $colorSecondary, $grey);